$background-color: rgba(247, 250, 252, 1);
$blue-accent-color: rgba(79, 70, 229, 1);
$blue-accent-hover-color: rgb(92, 93, 229);
$red-accent-color: rgba(255, 121, 123, .9);
$font-color-black: rgba(38, 38, 38, 1);
$font-color-gray: rgba(74, 74, 74, 1);
