@import 'variables';
@import 'helpers';

.analytics__container {
  @extend .background-gradient;

  width: 100%;
  height: 100vh;
}

.analyticsCharts__container {
  width: 100%;
  height: 600px;
  padding: 5rem;
}

.analyticsCharts__wrapper {
  @extend .box-shadow;

  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: $background-color;
  border-radius: 1rem;
}
