@import 'variables';
@import 'helpers';

.page__container {
  width: 100%;
  height: auto !important;
  background-color: $background-color
}

.page__header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  width: 100%;

  h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.page__header__button {
  background-color: $blue-accent-hover-color !important;
  color: #fff !important;
  margin-top: 2rem !important;
  padding: .5rem !important;
}

.page__about {
  height: 100vh;
  width: 100%;
}

.page__service {
  height: 100vh;
  width: 100%;
}
