@import "variables";
@import "helpers";

.route__container {
  @extend .center;

  flex-direction: column;
  width: 100%;
  height: auto;
}

.route__loading {
  circle {
    color: $font-color-black;
  }
}

.route {
  width: 100%;
  height: auto;
}
